<div class="form-container">
    <img src="./src/app/login/images/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{error}}</span>

    <!--<button (click)="loginFb()" id="fb">Login with Facebook</button><br>-->
    <button (click)="loginGoogle()" id="google">Login with Google</button>
    <button routerLink="/login-email" id="email">Login with Email</button>


    <a routerLink="/signup" routerLinkActive="active" class="alc">No Account? <strong>Create One Here</strong></a>
    </div>