



      <!--<div class="masthead">
        <h3 class="text-muted">Project name</h3>

        <nav class="navbar navbar-light bg-faded rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <ul class="nav navbar-nav text-md-center justify-content-md-between">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>-->

      <!-- Jumbotron -->
        <div class="jumbotron">
        <h1>The Three Dimensions of IT Transformation</h1>
        <p class="lead">IT design is often viewed in two dimensions: Process and Technology. The third dimension, People, is overlooked to the detriment of an organization. Mainline thinks three dimensionally. Learn more below.</p>
        <p><a class="btn btn-lg btn-success" href="https://www.mainline.com" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>People</h2>
          <p>People create groups that define an organization. These groups are the consumers of IT infrastructure. The operational limits of these groups define IT design requirements.  </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Process</h2>
          <p>Process defines the rules of engagement. Process and workflow can be contrained by IT infrastructure. IT should conform to an organization, and not vice versa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Technology</h2>
          <p>Technology alignment with People and Process reduces risk, and cost. Three dimensional IT design removes contraints, and transforms organizations.  </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer 
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>-->



<!--<footer class="footer">
      <div class="container">
    
        <span class="text-muted">Powered by Zygodata</span>
      </div>
    </footer>-->
